$mobile-width: 767px;

$consolas: "Consolas", "Arial", sans-serif;
$segoe: "SegoeUI", "Arial", sans-serif;
$arial: "Arial", sans-serif;
$merriweather: "Merriweather", "Arial", sans-serif;

$white-color: #ffffff;
$black-color: #000000;
$blue-color: #0062ff;
$line-color: #dadbdc;
$bg-color: #ededed;
$black-lt-color: #202326;
$border-input-color: #e6e6e6;
$label-color: #777777;
$input-text-color: #222222;
$slider-text-color: #272522;
$bullet-color: #cccccc;
